.canvas-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download {
    font-size: 1.5em;
    background-color: var(--highlight-color);
    border: 0;
    color: var(--background-color);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.canvas-component h1 {
    font-size: 1em;
    font-weight: normal;
}

.canvas-component h1 > :nth-child(2) {
    font-size: 2em;
    font-weight: bold;
}

.canvas-component h1 > :last-child {
    text-align: right;
}

a {
    text-decoration: none;
}