.garment.selected {
    background-color: var(--primary-color);
}

.garment > img {
    height: var(--h);
    width: var(--w);
    object-fit: none;
    object-position: calc(-1 * var(--x)) calc(-1 * var(--y));
    
}

.garment {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
}