html, body, #root {
  height: 100%;
}

* {
  font-family: ComicTypo;
  box-sizing: border-box;
  --border-radius: 10px;
  --primary-color: #FFF59F;
  --secondary-color: #e3d76b;
  --background-color: #FFF9C7;
  --highlight-color: #9A8D1F;
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-size: 1.5em;
}

canvas {
  display: block;
}

.apps-bar-container {
  --apps-bar-primary-color: var(--highlight-color) !important;
  --apps-bar-secondary-color: var(--secondary-color) !important;
}
