@font-face {
  font-family: ComicTypo;
  src: url('./comic_typo.ttf');
}

html, body, #root {
  height: 100%;
}

* {
  font-family: ComicTypo;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5em;
}

canvas {
  display: block;
}
