.wardrobe {
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 247, 218);
    overflow-y: auto;
}

.category > .content {
    background-color: rgb(255, 229, 145);
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.category:not(:last-child) {
    margin-bottom: 10px;
}